New Url encoders difference in behavior from Url.EscapeDataString

@GrabYourPitchforks 

```
Uri.EscapeDataString("https://www.googleapis.com/auth/plus.login") = "https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login"
```

With new encoder:
```
https:%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login
```

Per RFC 3986 (Appendix A) / RFC 3987 (Sec. 2.2), the segment, query, and fragment portions of a URI are all allowed to contain the colon character. I originally suspected that the Uri.EscapeDataString behavior was for compliance with RFC 2396, but even that older RFC allows colons pretty much everywhere (including in the userinfo). RFC 3986 was extended to allow colons in the host name to support IPv6 addresses. Will follow up with that team to find out the history behind this behavior.

https://github.com/aspnet/HttpAbstractions/commit/1e9d57f80ca883881804292448fff4de8b112733